@model Ecommerce.Models.Warranty

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Warranty</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RollNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RollNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WarrantyStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WarrantyStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WarrantyEndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WarrantyEndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dealer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dealer.DealerName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.WarrantyId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
